/* Small Devices: Wide-Screen Mobile */
@media (min-width: 640px) {
  footer a {
    display: unset !important;
  }
}

/* Medium Devices: Desktop */
@media (min-width: 768px) {
  .Main-Header h1 {
    font-size: 28px;
  }

  .Main-Header p {
    font-size: 14px;
  }

  .search-result {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-result .card .card-body .value {
    font-size: 40px;
  }
}

/* Large Devices: Desktop */
@media (min-width: 1024px) {
}

/* Extra Large Devices: Desktop */
@media (min-width: 1280px) {
  .topbar .logo img {
    width: 54px;
  }

  .Main-Header h1 {
    font-size: 35px !important;
  }

  .Main-Header p {
    font-size: 18px !important;
  }

  .search-result {
    grid-template-columns: repeat(4, 1fr);
  }

  .search form button {
    width: 105px !important;
    height: 38px !important;
    font-size: 16px !important;
  }

  .search form .clear {
    top: 50% !important;
    left: 130px !important;
  }

  .search-result .card .card-body .value {
    font-size: 30px !important;
  }
}

/* Extra Extra Large Devices: Desktop */
@media (min-width: 1536px) {
}
